<h1>Jobs list</h1>



  <% @jobs.each do |job| %>
  <h2>Project</h2>
  <p><b>Client:</b> <%= job.client %>
    <b>Site Address</b> <%= job.address%><br>
    <b>Hours Total:</b> £<%=  hours = (job.hrs_price * job.hours_req)  %>.00
    <b>Stock Total</b> £<%= stock = (job.stock_price * job.stock_req) %>.00
    <b>base cost of job:</b>£<%= total = hours + stock%>.00 <br>
    <b>With profit margin this job should be:</b> £<%= total * 1.2%>0</p>
    <a href="/jobs/<%= job.id%>">View Job</a>
  
  
  <hr>
  <%end%>